<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividad 16</title>
</head>
<body>
    <h1>Esta es la actividad 16</h1>

    <div id="app">
        <p>{{materia}}</p>
        <p>{{semestre}}</p>
        <p>{{carrera}}</p>
          <hr>
          <p>
              <input type="text" v-model="producto">
              <button @click="agregarProducto">Agregar</button>
          </p>
  
  
          <ul v-for="elemento in productos">
              <li>
                  <input type="number" v-model.number="elemento.cantidad">
                  {{elemento.nombre}} | {{elemento.cantidad}} x
                  <button @click="elemento.cantidad++">+</button>
                  <button @click="elemento.cantidad--">--</button>
                  <span v-if="elemento.cantidad<=0">sin stock</span>
              </li>
          </ul>
      <h1>Total de productos: {{total}}</h1>
  
      </div>
      <script src="https://unpkg.com/vue@next"></script>
    
    <script src="script.js"></script>
</body>
</html>